// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Global App Styles
body {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    @include isLightMode {
        color: $color-darkgray;
    }
    font-size: 16px;
}

html, body {
    background: $color-darkgray;
    @include isLightMode {
        background: $color-white;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1, h2, h3, h4, p {
    color: $color-white;
    @include isLightMode {
        color: $color-darkgray;
    }
}

a {
    color: $color-fuchsia;
    font-size: 16px;
    &:hover {
        color: $color-deepfuchsia;
        transition: all 0.5s;
    }
}

hr {
    border-top-color: $color-lightgray !important;
    width: 100%;
}

label {
    display: block;
}

.btn-liftlog {
    background-color: $color-fuchsia;
    border-color: $color-fuchsia;
    text-transform: uppercase;
    color: $color-white !important;
    &:hover {
        background-color: $color-deepfuchsia;
        border-color: $color-deepfuchsia;
        text-decoration: none !important;
        transition: all 1s;
    }
}


// Header
nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    z-index: 1;
    >.container {
        padding: 0;
    }
    .logo {
        &-liftlog {
            width: 106px;
            margin: 20px 0;
        }
    }
    .hamburger {
        display: block;
        opacity: 1 !important;
        padding: 0 !important;
        position: relative;
        top: 3px;
        &-box {
            width: 20px;
        }
        &-inner, &-inner::before, &-inner::after {
            width: 20px;
            height: 2px;
        }
        &-inner::before {
            top: -7px;
        }
        &-inner::after {
            bottom: -7px;
        }
    }
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
        background-color: $color-fuchsia;
    }
}

#navbarToggleExternalContent {
    .nav-msg {
        padding: 8px 0;
    }
    a.nav-link {
        color: $color-lightergray !important;
        &:hover {
            color: $color-white !important;
            transition: all 0.5s;
        }
        text-align: right;
        @include isLightMode {
            color: $color-fuchsia !important;
            &:hover {
                color: $color-deepfuchsia !important;
                transition: all 0.5s !important;
            }
        }
    }
}

nav.navbar, #navbarToggleExternalContent {
    background: $color-lightgray;
    @include isLightMode {
        background: $color-lightestgray;
    }
}

.liftlog-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px $color-fuchsia;
    width: 100%;
    background: transparent;
    color: $color-white;
    @include isLightMode {
        color: $color-darkgray;
    }
    height: 40px;
    &::placeholder {
        @include isLightMode {
            color: $color-lightgray;
            opacity: 1;
        }
    }
}

.vertical-menu {
    fill: $color-white;
    stroke: $color-white;
    float: right;
    cursor: pointer;
    @include isLightMode {
        fill: $color-darkgray;
        stroke: $color-darkgray;
    }
}

.liftlog-list {
    &-item {
        &:hover {
            text-decoration: none;
            .liftlog-list-heading {
                color: $color-white;
                @include isLightMode {
                    color: $color-darkgray;
                }
                transition: 0.5s all;
            }
        }
        &-wrapper {
            .dropdown {
                bottom: 33px;
            }
        }
    }
    &-heading {
        color: $color-fuchsia;
    }
    &-subheading {
        text-transform: uppercase;
    }
}


// Exercises
.add-exercise {
    margin-top: 40px;
    text-align: center;
}


// Single Exercise
.single-exercise {
    &-top-entry {
        margin-bottom: 40px;
        &-weight {
            color: $color-fuchsia;
            font-size: 90px;
            font-weight: 400;
            text-align: center;
            line-height: 105px;
            margin-bottom: 0;
        }
        &-time {
            margin-bottom: 0;
            text-align: center;
        }
    }
    &-container {
        .entry {
            &-time {
                color: $color-lightergray;
                @include isLightMode {
                    color: $color-lightgray;
                }
                margin-bottom: 10px;
                line-height: 19px;
            }
            &-info {
                margin-bottom: 10px;
                line-height: 16px;
            }
            .dropdown {
                bottom: 22px;
            }
        }
    }
    .btn-row {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        .btn-liftlog {
            text-align: center;
        }
    }
}


// Add Entry
.modify-set-count {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    a:nth-child(2) {
        float: right;
    }
    &::after {
        clear: both;
    }
}
